.DS_Store
.gradle/
.idea/compiler.xml
.idea/copyright/
.idea/encodings.xml
.idea/gradle.xml
.idea/misc.xml
.idea/modules.xml
.idea/nfc-tools.iml
.idea/workspace.xml
androidMfoc/build/generated/assets/
androidMfoc/build/generated/res/
androidMfoc/build/generated/source/aidl/
androidMfoc/build/generated/source/r/androidTest/
androidMfoc/build/generated/source/rs/
androidMfoc/build/intermediates/assets/
androidMfoc/build/intermediates/blame/res/androidTest/
androidMfoc/build/intermediates/bundles/
androidMfoc/build/intermediates/dependency-cache/
androidMfoc/build/intermediates/incremental/packageDebug/
androidMfoc/build/intermediates/incremental/packageDebugAndroidTest/
androidMfoc/build/intermediates/incremental/packageRelease/
androidMfoc/build/intermediates/manifest/tmp/
androidMfoc/build/intermediates/ndk/debug/lib/
androidMfoc/build/intermediates/ndk/debug/obj/
androidMfoc/build/intermediates/res/merged/androidTest/
androidMfoc/build/intermediates/rs/
androidMfoc/build/intermediates/shaders/
androidMfoc/build/intermediates/symbols/
androidMfoc/build/tmp/
androidMfoc/compiler-file260.d
androidMfoc/compiler-file697.d
build/
gen/
gradle.properties
gradle/
gradlew
gradlew.bat
import-summary.txt
local.properties
nfc-tools.iml
settings.gradle
/desknfc/
/libfreefare/
/libnfc-llcp/
/nfc-eventd/
/nfcd/
/nfcutils/
/pam_nfc/
/ucard/
/mfoc/debian/
